@font-face {
    font-family: 's-core-dream-thin';
    src: url('https://cdn.jsdelivr.net/gh/huvso/study@master/img/font/scdream1-webfont.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/huvso/study@master/img/font/scdream1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-extralight';
    src: url('https://cdn.jsdelivr.net/gh/huvso/study@master/img/font/scdream2-webfont.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/huvso/study@master/img/font/scdream2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-light';
    src: url('https://cdn.jsdelivr.net/gh/huvso/study@master/img/font/scdream3-webfont.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/huvso/study@master/img/font/scdream3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream';
    src: url('https://cdn.jsdelivr.net/gh/huvso/study@master/img/font/scdream4-webfont.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/huvso/study@master/img/font/scdream4-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-medium';
    src: url('https://cdn.jsdelivr.net/gh/huvso/study@master/img/font/scdream5-webfont.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/huvso/study@master/img/font/scdream5-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-bold';
    src: url('https://cdn.jsdelivr.net/gh/huvso/study@master/img/font/scdream6-webfont.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/huvso/study@master/img/font/scdream6-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-extrabold';
    src: url('https://cdn.jsdelivr.net/gh/huvso/study@master/img/font/scdream7-webfont.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/huvso/study@master/img/font/scdream7-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-heavy';
    src: url('https://cdn.jsdelivr.net/gh/huvso/study@master/img/font/scdream8-webfont.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/huvso/study@master/img/font/scdream8-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-black';
    src: url('https://cdn.jsdelivr.net/gh/huvso/study@master/img/font/scdream9-webfont.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/huvso/study@master/img/font/scdream9-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}